.rules {
  padding-left: 270px;
  padding-right: 10px;
}

.clear {
  padding-right: 80px;
}

.in {
  padding-top: 100px;
  margin-left: 200px;
}

.vs {
  margin-top: 9px;
}

.equals {
  margin-top: 7px;
}

.out {
  padding-top: 50px;
  padding-right: 170px;
}

.show {
  margin-bottom: 3px;
}